# Historization test


This notebook inspects the created table(s) of the SDL historization test.


At the beginning we inspect the injected table and verifying columns and deduplication.

In [1]:
spark.catalog.listTables.show(false)

In [2]:
spark.table("default.int_chess")
.summary()
.show()

In [3]:
spark.table("default.int_chess")
.summary()
.show()

In the summary the first line prints the amount of rows.

In [5]:
spark.table("default.int_chess")
.where($"id"==="QQ3iIM2V" || $"id"==="079kHDqh")
.show

Note the last three columns are added by the historization. The data point 079kHDqh is now deduplicated.

# Update the databases


<div>Now run the update in the source DB and the new injection.&nbsp;</div><div>Go back to the CLI and run the SQL update script and SDLB again.</div><div><br></div><div>Then, here the changes are inspected.</div>

In [7]:
spark.table("default.int_chess")
.show(2)
spark.table("default.int_chess")
.summary()
.show(1)

Note that the table grew about the amount of changed rows. Some lines were duplicates, thus the numbers do not match exactly. 

<div><br></div><div>In the next cell we inspect the changes. Note the differences in the<code>dl_ts_captured</code>and <code>dl_ts_delimited</code>&nbsp;columns.</div>

In [9]:
spark.table("default.int_chess")
.where($"id"==="QQ3iIM2V" || $"id"==="009mKOEz" )
.select("id", "moves", "victory_status", "dl_ts_captured", "dl_ts_delimited")
.orderBy($"id", $"dl_ts_captured")
.show()

Note the capturing of the old and new values with its validation ranges as well as the invalidated "deleted" data point 009mKOEz

# CDC data


<div>Now go back and implement the CDC in SQL server and SDL. Afterwards come back to monitor changes in the table here.&nbsp;</div><div><br></div>

In [11]:
spark.table("default.int_chess_cdc")
.summary()
.show()

In [12]:
spark.table("default.int_chess_cdc")
.where($"id"==="QQ3iIM2V" || $"id"==="009mKOEz")
.show